
.container-b{
    background-color: rgb(238, 239, 240);
}


ul {
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
}

li {
    list-style: none;
    text-align: center;
} 

h5{
    margin-bottom: -5px;
}

