
.container-b{
    background-color: rgb(238, 239, 240);
    border-radius: 10px;
    
}

#one2 {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    
}

ul {
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
}

li {
    list-style: none;
    text-align: center;
    background-color: whitesmoke ;
    border-radius: 10px;
} 

.card-group{
justify-content: center;
}

.delete{
    border: rgb(233, 231, 231) 0px;
    font-size: small;
    color:rgb(247, 168, 132);
    padding-bottom: 5px;
    border-radius: 50px;
}
#convert-button{
    max-width: 200px ;
}
h5{
    margin-bottom: -5px;
}

#to-value{
    font-size: medium;
}

#convert-button{
    font-weight: bolder;
}

h3{
    font-size: xx-large;
}

h4{
    text-align: center;

}

.card-title{
    font-size:medium;
    text-align: left;
}
.card-header {
    border-radius: 10px;
}

#history{
    padding: 10px;
}

#time{
    text-align: center;
}
